@charset "UTF-8";
.s-gift {
    font-size: 14px;
    padding: 40px;
    background: #F6F8F9;
}
.s-gift-search {
    padding: 30px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0 2px 4px 2px rgba(234,234,234,0.50);
    border-radius: 10px;
}
.s-gift-search-title {
    font-size: 16px;
    color: #364557;
    margin: 0;
}
.s-gift-search-content {
    color: #999999;
}
.s-gift-search-item {
    margin: 20px 20px 0 0;
    display: inline-block;
    white-space: nowrap;
}
.s-gift-search-content::after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.s-gift-search-input {
    width: 100px;
    height: 25px;
    border-radius: unset;
}
.s-gift-search-btn {
    float: right;
    margin-top: 20px;
}

select.c-input {
    -webkit-appearance: none;
    appearance: none;
    padding: 0 25px 0 5px;
}
.select-wrap {
    position: relative;
}
.select-wrap::after {
    content: '';
    position: absolute;
    top: 7px;
    right: 7px;
    widows: 0;
    height: 0;
    border-radius: 1px;
    border: 6px transparent solid;
    border-top: 8px #999999 solid;
    border-bottom: 0;
}
.s-gift-search-select {
    width: auto;
    height: 25px;
    border-radius: unset;
}

.s-gitf-operate {
    padding: 42px 0 20px;
}
.s-gift-setting {
    float: right;
    margin-top: 5px;
}

.s-gift-table-wrap {
    width: 100%;
    border-radius: 10px;
    overflow-y: auto;
    color: #464646;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 2px rgba(234,234,234,0.50);
    border-radius: 10px;
}
.s-gift-table > thead > tr > th,
.s-gift-table > tbody > tr > td {
    white-space: nowrap;
}
.s-gift-table th,
.s-gift-table td {
    text-align: center;
}
.s-gift-table>.s-gift-tbody {
    font-size: 12px;
}
.s-gift-thead {
    background: #ECF1F5;
}
.s-gift-table td,
.s-gift-table th {
    border: 0;
}
.s-gift-table>.s-gift-tbody>tr:nth-child(2n) {
    background: #F9F9F9;
}
.s-gift-table>.s-gift-tbody>tr:hover {
    background: #e6f7ff;
}
.s-gift-count {
    font-size: 12px;
    color: #999999;
    text-align: right;
}
.s-gift-table-pages {
    text-align: center;
}
.s-gift-prepage::after {
    content: '';
    position: absolute;
    top: 7px;
    left: 10px;
    padding: 5px;
    background: white;
    border: 2px #C1C1C1 solid;
    border-radius: 1px;
    border-right: 0;
    border-top: 0;
    transform: rotate(45deg);
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.s-gift-nextpage::after {
    content: '';
    position: absolute;
    top: 7px;
    right: 10px;
    padding: 5px;
    background: white;
    border: 2px #C1C1C1 solid;
    border-radius: 1px;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
}
.s-gift-prepage,
.s-gift-nextpage {
    position: relative;
}
.s-gift-page {
    width: 30px;
    height: 30px;
    padding: 0;
}
.s-gift-page:first-child,
.s-gift-page:last-child {
    color: white;
}
.s-gift-page:first-child:hover,
.s-gift-page:last-child:hover {
    color: #1AC2AD;
}
.s-gift-page:hover {
    color: white;
    background: #1AC2AD;
    border-color: #1AC2AD;

}
.s-gift-prepage:hover::after {
    background: #1AC2AD;
    border-left: 2px white solid;
    border-bottom: 2px white solid;
}
.s-gift-nextpage:hover::after {
    background: #1AC2AD;
    border-right: 2px white solid;
    border-top: 2px white solid;
}
.s-gift-page:active {
    color: white;
    background: rgb(12, 170, 152);
    border-color: rgb(12, 175, 156)
}
.s-gift-prepage:active::after {
    background: rgb(12, 170, 152);
    border-left: 2px white solid;
    border-bottom: 2px white solid;
}
.s-gift-nextpage:active::after {
    background: rgb(12, 170, 152);
    border-right: 2px white solid;
    border-top: 2px white solid;
}
.s-gift-prepage[disabled],
.s-gift-prepage[disabled]:hover,
.s-gift-prepage[disabled]:active {
    cursor: not-allowed;
    color: rgba(0,0,0,.25);
    background-color: #ECECEC;
    border-color: #d9d9d9;
}
.s-gift-prepage[disabled]::after,
.s-gift-prepage[disabled]:hover::after,
.s-gift-prepage[disabled]:active::after {
    cursor: not-allowed;
    background-color: #ECECEC;
    border-color: rgba(0,0,0,.1);
    border-right: 2px #ECECEC solid;
    border-top: 2px #ECECEC solid;
}

.s-userinfo {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #999999;
    padding: 30px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0 2px 4px 2px rgba(234,234,234,0.50);
    border-radius: 10px;
}
.s-userinfo_basic {
    height: 220px;
}
.s-userinfo_title {
    font-size: 16px;
    color: #364557;
    margin-bottom: 18px;
}

.s-userinfo_headimg {
    width: 200px;
    height: 220px;
    float: left;
    padding-bottom: 20px;
    border-bottom: 1px #D8D8D8 solid;
}
.s-basic {
    float: left;
    height: 220px;
    padding: 0 0 20px 30px;
    border-bottom: 1px #D8D8D8 solid;
}
.s-basic_item {
    height: 22px;
    margin: 0 0 14px;
}
.s-basic--certified {
    color: #67d6be;
}
.s-userinfo-details {
    margin-top: 20px;
}

.s-details_item {
    width: max-content;
    margin: 0 0 16px 0;
}
.s-details_item-title {
    display: inline-block;
    width: 75px;
    text-align: right;
}

.s-robot-form {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #999999;
    padding: 30px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0 2px 4px 2px rgba(234,234,234,0.50);
    border-radius: 10px;
}
.s-robot-form_upload {
    display: inline-block;
    position: relative;
    height: 220px;
    border-bottom: 1px #D8D8D8 solid;
}
.s-robot-form_title {
    font-size: 16px;
    color: #364557;
    margin-bottom: 18px;
}
.s-robot-form_selectimg {
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    background: #F0F0F0;
    box-sizing: content-box;
}
.s-robot-form_selectimg-icon1,
.s-robot-form_selectimg-icon2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80px;
    height: 6px;
    margin: auto;
    background: #D8D8D8;
    border-radius: 5px;
}
.s-robot-form_selectimg-icon2 {
    width: 6px;
    height: 80px;
}
.s-robot-form_head-img {
    padding-left: 30px;
    width: 200px;
    height: 200px;
    float: left;
    padding-bottom: 20px;
    border-bottom: 1px #D8D8D8 solid;
    box-sizing: content-box;
}
.s-robot-form_img-tips {
    position: absolute;
    left: calc(100% + 30px);
    white-space: nowrap;
    bottom: 4px;
}

.s-robot-form-details {
    margin-top: 20px;
}
.s-robot-form_six-input {
    width: 200px;
}
.s-robot-form_give-wrap,
.s-robot-form_receive-wrap {
    position: relative;
}
.s-robot-form_give,
.s-robot-form_receive {
    padding-right: 24px;
}
.s-robot-form_receive-wrap::after {
    content: '豆';
    position: absolute;
    right: 6px;
    top: 0;
}
.s-robot-form_give-wrap::after {
    content: '币';
    position: absolute;
    right: 6px;
    top: 0;
}
.s-robot-form_signature {
    width: 430px;
}
.s-robot-form_address-select {
    width: 110px;
}

.s-robot-form_btns {
    margin-top: 40px;
}
.s-robot-form_confirm {
    height: 35px;
    margin: 0 48px 0 10px;
}
.s-robot-form_cancel {
    height: 35px;
}

.s-banlive-close {
    font-size: 18px;
    color: #24D4BD;
    text-align: left;
    margin: 17px;
}
.s-banlive-content {
    width: 370px;
    margin: 40px 0 10px;
    text-align: center;
}
.s-banlive-btn {
    display: block;
    margin: 12px auto;
    width: 240px;
    height: 40px;
    border: 1px solid #24D4BD;
    border-radius: 100px;
}
.s-banlive-operate {
    margin: 10px 0;
    text-align: center;
}
.s-banlive-confirm-text {
    font-size: 18px;
    color: #24D4BD;
}
.s-banlive-confirm,
.s-banlive-cancel {
    width: 100px;
    height: 35px;
    line-height: 35px;
    margin: 0 40px;
}

.s-banword-close {
    font-size: 18px;
    color: #24D4BD;
    text-align: left;
    margin: 17px;
}
.s-banword-content {
    box-sizing: border-box;
    width: 400px;
    color: #343434;
    text-align: center;
}
.s-banword-input {
    margin: 20px 60px 10px;
    width: 282px;
}
.s-banword-operate {
    margin-bottom: 10px;
    text-align: center;
}
.s-banword-confirm-text {
    font-size: 18px;
    color: #24D4BD;
}
.s-banword-confirm,
.s-banword-cancel {
    width: 100px;
    height: 35px;
    line-height: 35px;
    margin: 0 40px;
}
.s-banword-progress {
    font-size: 48px;
    font-weight: 900;
    color: #24D4BD;
    margin: 0;
}
.s-banword-loading {
    width: 80px;
}

/*导入违禁词start*/
.s-import-excel-close {
    font-size: 18px;
    color: #24D4BD;
    text-align: left;
    margin: 17px;
}
.s-import-excel-content {
    box-sizing: border-box;
    width: 400px;
    color: #343434;
    text-align: center;
}
.s-import-excel-input {
    margin: 20px 60px 10px;
    width: 282px;
}
.s-import-excel-operate {
    padding-top: 28px;
    margin-bottom: 10px;
    text-align: center;
}
.s-import-excel-confirm-text {
    font-size: 18px;
    color: #24D4BD;
}
.s-import-excel-confirm,
.s-import-excel-cancel {
    width: 100px;
    height: 35px;
    line-height: 35px;
    margin: 0 40px;
}
.s-import-excel-progress {
    font-size: 48px;
    font-weight: 900;
    color: #24D4BD;
    margin: 0;
}
.s-import-excel-loading {
    width: 80px;
}
/*导入违禁词end*/


.s-robot-form_headimg-wrap {
    position: relative;
    padding-left: 30px;
    width: 200px;
    height: 200px;
    float: left;
    padding-bottom: 20px;
    border-bottom: 1px #D8D8D8 solid;
    box-sizing: content-box;
}
/*.s-robot-form_headimg {
    width: 100%;
    height: 100%;
}*/
.s-robot-form_headimg-close {
    position: absolute;
    outline: none;
    padding: 12px;
    margin: 0;
    border: 0;
    top: -12px;
    right: -12px;
    background: url("../img/close1.png") no-repeat -28px 0 / auto 100%;
    cursor: pointer;
}
.s-robot-form_headimg-close:active {
    background: url("../img/close1.png") no-repeat 0 0 / auto 100%;
}

.s-message-push-wrap {
    font-size: 14px;
    height: 100vh;
    padding: 40px;
    background: #F6F8F9;
    box-sizing: border-box;
}

.s-message-push {
    height: 100%;
    padding: 30px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0 2px 4px 2px rgba(234, 234, 234, 0.50);
    border-radius: 10px;
    box-sizing: border-box;
}

.s-message-push_title {
    font-size: 16px;
    color: #364557;
    margin: 0 0 30px;
}

.s-message-push_content {
    color: #999999;
}

.s-message-push_content>.s-message-push_input {
    height: 250px;
    resize: none;
}

.s-message-push_select-wrap {
    margin: 15px 0;
}

.s-message-push_selectuser {
    padding: 0;
}

.s-message-push_user {
    display: inline-block;
    position: relative;
    margin-right: 35px;
    padding: 0 15px;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    color: #ffffff;
    background-color: #24D4BD;
    border-color: rgb(40, 230, 204);
    border-radius: 20px;
}

.s-message-push_userremote {
    position: absolute;
    outline: none;
    padding: 10px;
    margin: 0;
    border: 0;
    top: -10px;
    right: -7px;
    background: url("../img/close2.png") no-repeat -24px 0 / auto 100%;
    cursor: pointer;
}

.s-message-push_userremote:active {
    /* outline: none;
    padding: 10px;
    margin: 0;
    border: 0; */
    background: url("../img/close2.png") no-repeat 0 0 / auto 100%;
}

.s-message-push_submit {
    display: block;
    margin-top: 46px;
    margin: 46px auto 0;
    width: 188px;
    height: 34px;
}

.s-message-push-m-close {
    font-size: 18px;
    color: #24D4BD;
    text-align: left;
    margin: 17px;
}
.s-message-push-m-content {
    width: 370px;
    margin: 40px 0 10px;
    text-align: center;
}
.s-message-push-m-btn {
    display: block;
    margin: 12px auto;
    width: 240px;
    height: 40px;
    border: 1 solid #24D4BD;
    border-radius: 100px;
}
.s-message-push-m-operate {
    margin: 10px 0;
    text-align: center;
}
.s-message-push-m-confirm-text {
    font-size: 18px;
    color: #24D4BD;
}
.s-message-push-m-confirm,
.s-message-push-m-cancel {
    width: 100px;
    height: 35px;
    line-height: 35px;
    margin: 0 40px;
}

.s-message-push-m_close {
    font-size: 18px;
    /*color: #24D4BD;*/
    text-align: left;
    margin: 17px;
}
.s-message-push-m_content {

}
.s-message-push-m_search-content {
    color: #999999;
    margin: 20px 0 30px;
}
.s-message-push-m_search-item {
    display: inline-block;
    margin-right: 30px;
    white-space: nowrap;
}
.s-message-push-m_search-input {
    width: 88px;
    height: 25px;
    border-radius: unset;
}
.s-message-push-m_searchbtn {
    width: 90px;
}

.s-message-push-m_count {
    font-size: 12px;
    color: #999999;
    text-align: right;
    margin-top: 10px;
}


.s-message-push-m_table-wrap {
    color: #464646;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 2px rgba(234,234,234,0.50);
    border-radius: 10px;
}
.s-message-push-m_thead {
    background: #ECF1F5;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.s-message-push-m_table th,
.s-message-push-m_table td {
    text-align: center;
}
.s-message-push-m_table>.s-message-push-m_tbody {
    font-size: 12px;
}
.s-gift-thead {
    background: #ECF1F5;
}
.s-message-push-m_table td,
.s-message-push-m_table th {
    border: 0;
}
.s-message-push-m_table>.s-message-push-m_tbody>tr:nth-child(2n) {
    background: #F9F9F9;
}
.s-message-push-m_table>.s-message-push-m_tbody>tr:hover {
    background: #e6f7ff;
}
.s-message-push-m_operate {
    text-align: center;
}
.s-message-push-m_confirm,
.s-message-push-m_cancel {
    margin: 0 40px;
}
.s-message-push-m_confirm:hover,.s-message-push-m_cancel:hover{
    color: #ffffff;
    background-color: var(--main-color);
    border-color: rgb(40, 230, 204);
}
.s-message-push-m_tbody tr td:first-child{
    height: 24px;
    padding: 0;
}

/*input.s-message-push-m_select:checked {
    background: url(../img/switch-box.png) no-repeat 0 0 / 100%;
}*/

input.s-message-push-m_select {
    color: #364557;
    background: url(../img/switch-box.png) no-repeat 0 -36px / 100%;
    padding: 12px;
    transition: none;
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
}

.s-message-push_selectall {
    color: #364557;
    margin-right: 24px;
}
input.s-user_all_select {
    position: relative;
    top: 4px;
    color: #364557;
    background: url(../img/switch-box.png) no-repeat 0 -30px / 100%;
    margin: 0 5px 0 0;
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 0;
    transition: none;
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
}
input.s-user_all_select:checked {
    background-position-y: 0;
}

input.s-message-select-checked{
    background: url(../img/switch-box.png) no-repeat 0 0 / 100%;
    color: #364557;
    padding: 12px;
    transition: none;
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
}

.s-accuse {
    position: relative;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #999999;
    padding: 30px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0 2px 4px 2px rgba(234, 234, 234, 0.50);
    border-radius: 10px;
}

.s-accuse_title {
    font-size: 16px;
    color: #364557;
    margin-bottom: 18px;
    font-weight: bold;
}

.s-accuse_back {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 16px;
    color: #364557;
    text-decoration: none;
    cursor: pointer;
}

.s-accuse_content {
    margin: 60px 0;
}

.s-accuse_type-title {
    font-weight: 400;
    font-size: 14px;
    color: #999999;
}

.s-accuse_type-edit-btn {
    margin-left: 58px;
    border: 0;
}

.s-accuse_type-title .s-accuse_type-edit-btn:disabled {
    background: transparent;
}

.s-accuse_type-input {
    display: block;
    margin: 17px 0;
    width: 140px;
    text-align: center;
    font-size: 12px;
}

.s-accuse_type-input:disabled {
    background-color: #F7F7F7;
}

.s-accuse_operate {
    margin-top: 80px;
}

.s-accuse_confirm-btn,
.s-accuse_cancel-btn {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    color: #24D4BD;
    margin-right: 45px;
}

.s-gift-manage {
    position: relative;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #999999;
    padding: 30px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0 2px 4px 2px rgba(234, 234, 234, 0.50);
    border-radius: 10px;
}

.s-gift-manage_title {
    font-size: 16px;
    color: #364557;
    margin-bottom: 18px;
    font-weight: bold;
}

.s-gift-manage_back {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 16px;
    color: #364557;
    text-decoration: none;
    cursor: pointer;
}

.s-gift-manage_content {
    margin: 60px 0 0;
}

.s-gift-manage_type-title {
    font-weight: 400;
    font-size: 14px;
    color: #999999;
}

.s-gift-manage_label {
    display: inline-block;
    width: 118px;
}

.s-gift-manage_type-edit-btn {
    padding: 0;
    border: 0;
}

.s-gift-manage_type-title .s-gift-manage_type-edit-btn:disabled {
    background: transparent;
}

.s-gift-manage_type-wrap {
    color: #999999;
}

.s-gift-manage_type-input {
    margin: 17px 0;
    width: 100px;
    text-align: center;
    font-size: 12px;
}

.s-gift-manage_type-input:disabled {
    background-color: #F7F7F7;
}

.s-gift-manage_operate {
    margin-top: 80px;
}
.s-gift-manage_confirm-btn,
.s-gift-manage_cancel-btn {
    margin-left: 22px;
    height: 36px;
    width: 170px;
    color:#ffffff;
    text-align:center;
    background-image: linear-gradient(75deg, rgba(0,237,168,0.80) 0%, #1AC2AD 100%);
    border-radius: 50px;
}

.s-accuse-manage {
    position: relative;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #999999;
    padding: 30px;
    background: #F6F8F9;
}

.s-accuse-manage_title {
    position: relative;
    font-size: 16px;
    color: #364557;
    margin-bottom: 18px;
    padding: 30px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0 2px 4px 2px rgba(234, 234, 234, 0.50);
    border-radius: 10px;
}

.s-accuse-manage_back {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 16px;
    color: #364557;
    text-decoration: none;
    cursor: pointer;
}

.s-accuse-manage_content {
    margin: 60px 0 0;
}

.s-am_list {
    padding: 0;
    -webkit-text-size-adjust: none;
    font-size: 0;
}

.s-am_item {
    font-size: 14px;
    color: #767676;
    display: inline-block;
    list-style: none;
    width: 22%;
    margin-right: 4%;
    box-sizing: border-box;
}

.s-am_item:nth-child(4n) {
    margin-right: 0;
}

.s-am_item-img {
    width: 100%;
    /*padding-bottom: 68%;*/
    /*background: url(http://3tdoc.oss-cn-beijing.aliyuncs.com/img/2018/05/11/13/1835_6351.png) center / cover;*/
    border-radius: 10px;
}

.s-am_item-info {
    margin: 10px 0 30px;
}

.s-am_item-scene {
    float: right;
    /*margin-left: 20px;*/
}

.s-robot-form {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #999999;
    padding: 30px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0 2px 4px 2px rgba(234,234,234,0.50);
    border-radius: 10px;
}
.s-robot-form_upload {
    display: inline-block;
    position: relative;
    height: 220px;
    border-bottom: 1px #D8D8D8 solid;
}
.s-robot-form_title {
    font-size: 16px;
    color: #364557;
    margin-bottom: 18px;
}
.s-robot-form_selectimg {
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    background: #F0F0F0;
    box-sizing: content-box;
}
.s-robot-form_selectimg-icon1,
.s-robot-form_selectimg-icon2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80px;
    height: 6px;
    margin: auto;
    background: #D8D8D8;
    border-radius: 5px;
}
.s-robot-form_selectimg-icon2 {
    width: 6px;
    height: 80px;
}
.s-robot-form_headimg-wrap {
    position: relative;
    padding-left: 30px;
    width: 200px;
    height: 200px;
    float: left;
    padding-bottom: 20px;
    border-bottom: 1px #D8D8D8 solid;
    box-sizing: content-box;
}
.s-robot-form_headimg {
    width: 100%;
    height: 100%;
}
.s-robot-form_headimg-close {
    position: absolute;
    outline: none;
    padding: 12px;
    margin: 0;
    border: 0;
    top: -12px;
    right: -12px;
    background: url("../img/close1.png") no-repeat -28px 0 / auto 100%;
    cursor: pointer;
}
.s-robot-form_headimg-close:active {
    background: url("../img/close1.png") no-repeat 0 0 / auto 100%;
}
.s-robot-form_img-tips {
    position: absolute;
    left: calc(100% + 30px);
    white-space: nowrap;
    bottom: 4px;
}

.s-robot-form-details {
    margin-top: 20px;
}
.s-robot-form_six-input {
    width: 200px;
}
.s-robot-form_give-wrap,
.s-robot-form_receive-wrap {
    position: relative;
}
.s-robot-form_give,
.s-robot-form_receive {
    padding-right: 24px;
}
.s-robot-form_receive-wrap::after {
    content: '豆';
    position: absolute;
    right: 6px;
    top: 0;
}
.s-robot-form_give-wrap::after {
    content: '币';
    position: absolute;
    right: 6px;
    top: 0;
}
.s-robot-form_signature {
    width: 430px;
}
.s-robot-form_address-select {
    width: 110px;
}

.s-gift-page-hover {
    color: white;
    background: #1AC2AD;
    border-color: #1AC2AD
}

.s-page-title{
    font-size: 16px;
    color: #364557;
    font-weight: bold;
}

.s-page-font-color{
    color:#1AC2AD;
}

input::-webkit-input-placeholder {
    color: #D9D9D9;
    /* placeholder字体大小  */
    font-size: 12px;
    /* placeholder位置  */
    text-align: left;
    line-height: 17px;
}
.import-file{
    width: 284px;
    height: 35px;
    margin-left: 65px;
}

.import-file input{
    height: 35px;
    width:183px;
    font-family: Monospaced Number, Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    position: relative;
    display: inline-block;
    padding: 4px 11px;
    font-size: 14px;
    line-height: 1.5;
    color: inherit;
    background-color: #fff;
    background-image: none;
    border: 1px solid var(--sub-color_3);
    border-top-left-radius:6px;
    border-bottom-left-radius:6px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.import-file button{
    /*line-height: 100%;*/
    height: 35px;
    width: 100px;
    /*background-color: #24D4BD;*/
    color: #ffffff;
    background-color: var(--main-color);
    border-color: rgb(40, 230, 204);
    border: 1px solid transparent;
    position: relative;
    outline: none;
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    float: right;
    border-top-right-radius:6px;
    border-bottom-right-radius:6px;
}

.filetext{
    margin: 0;
    padding: 0;
}
.download-file{
    /*padding-top: 10px;*/
    /*margin-right: 51px;*/
}

.s-accuse-report-edit-btn{
    position: absolute;
    top: 30px;
    right: 110px;
    font-size: 16px;
    color: #364557;
    text-decoration: none;
    cursor: pointer;
}

.s-accuse-report-cancel-btn{
    position: absolute;
    top: 30px;
    right: 110px;
    font-size: 16px;
    color: #364557;
    text-decoration: none;
    cursor: pointer;
}

.s-accuse-report-save-btn{
    height: 36px;
    width: 150px;
    color:#ffffff;
    text-align:center;
    background-image: linear-gradient(75deg, rgba(0,237,168,0.80) 0%, #1AC2AD 100%);
    border-radius: 50px;
}

.s-report-back {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 16px;
    color: #364557;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.download-excel{
    font-size: 16px;
    margin-top: 10px;
    /*float:right;*/
    /*margin-right: 73%;*/
    color: #1AC2AD;
}
.download-excel:hover{
    cursor: pointer;
    color: #1AC2AD;
    text-decoration: underline;
}

.s-gitf-operate .c-btn-primary{
    float: left;
}

/**新增违禁词*/
.s-add-contraband-close {
    font-size: 18px;
    color: #24D4BD;
    text-align: left;
    margin: 17px;
}
.s-add-contraband-content {
    box-sizing: border-box;
    width: 400px;
    color: #343434;
    text-align: center;
}
.s-add-contraband-input {
    margin: 20px 60px 10px;
    width: 282px;
}
.s-add-contraband-operate {
    margin-bottom: 10px;
    text-align: center;
}
.s-add-contraband-confirm-text {
    font-size: 18px;
    color: #24D4BD;
}
.s-add-contraband-confirm,
.s-add-contraband-cancel {
    width: 100px;
    height: 35px;
    line-height: 35px;
    margin: 0 40px;
}
.s-add-contraband-progress {
    font-size: 48px;
    font-weight: 900;
    color: #24D4BD;
    margin: 0;
}
.s-add-contraband-loading {
    width: 80px;
}

.s-accuse-gift-edit-btn{
    position: absolute;
    top: 30px;
    right: 110px;
    font-size: 16px;
    color: #364557;
    text-decoration: none;
    cursor: pointer;
}

.s-accuse-gift-cancel-btn{
    position: absolute;
    top: 30px;
    right: 110px;
    font-size: 16px;
    color: #364557;
    text-decoration: none;
    cursor: pointer;
}

/*设置头像的大小*/
.s-headimg-size{
    width: 200px;
    height: 200px;
}

/*分页位置*/
.pagebanner-location {
    margin-left:40%
}

/*用户中心的查询输入框*/
.s-user-search-item {
    /*margin: 20px 52px 0 0;*/
    margin-top: 20px;
    margin-left: 2%;
    display: inline-block;
    white-space: nowrap;
}
.s-user-search-item span{
    padding-right: 5px;
}

.s-user-search-btn{
    float: right;
    margin-top: 20px;
    right: 4%;
}

.s-robot-operate {
    padding: 42px 0 20px;
}

.s-robot-operate a{
    margin-right: 40px;
}

/*消息推送*/
.s-message-push-m_header{
    background: #ECF1F5;
}
.c-message-modal {
    font-family: PingFangSC-Regular, system-ui;
    font-size: 14px;
    font-weight: 300;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #9B9B9B;
    /*padding: 0 20px;*/
    background: #FFFFFF;
    border-radius: 6px;
    width: 434px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    z-index: 100
}

.c-message-header {
    font-size: 18px;
    color: #364557;
    letter-spacing: 0;
    padding: 15px 0;
    padding-left: 20px;
}

.c-message-close {
    cursor: pointer;
    border: 0;
    background: transparent;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
    -webkit-transition: color .3s;
    transition: color .3s;
    /*color: rgba(0, 0, 0, .45);*/
    outline: 0;
    padding: 0;
}

.s-message-page {
    width: 30px;
    height: 30px;
    padding: 0;
    margin-right: 4px;
}
.s-message-page:first-child,
.s-message-page:last-child {
    color: white;
}
.s-message-page:first-child:hover,
.s-message-page:last-child:hover {
    color: #1AC2AD;
}
.s-message-page:hover {
    color: white;
    background: #1AC2AD;
    border-color: #1AC2AD
}

.s-gift-nextpage[disabled],
.s-gift-nextpage[disabled]:hover,
.s-gift-nextpage[disabled]:active {
    cursor: not-allowed;
    color: #ECECEC;
    background-color: #ECECEC;
    border-color: #d9d9d9;
}
.s-gift-nextpage[disabled]::after,
.s-gift-nextpage[disabled]:hover::after,
.s-gift-nextpage[disabled]:active::after {
    cursor: not-allowed;
    background-color: #ECECEC;
    border-color: rgba(0,0,0,.1);
    border-right: 2px #dadada solid;
    border-top: 2px #DADADA solid;
}