@charset "UTF-8";
.s-gift {
    font-size: 14px;
    padding: 40px;
    background: #F6F8F9;
}
.s-gift-search {
    padding: 30px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0 2px 4px 2px rgba(234,234,234,0.50);
    border-radius: 10px;
}
.s-gift-search-title {
    font-size: 16px;
    color: #364557;
    margin: 0;
}
.s-gift-search-content {
    color: #999999;
}
.s-gift-search-item {
    width: 180px;
    margin: 20px 0 0;
    display: inline-block;
    white-space: nowrap;
}
.s-gift-search-input {
    width: 88px;
    height: 25px;
    border-radius: unset;
}

select.c-input {
    -webkit-appearance: none;
    appearance: none;
    padding: 0 25px 0 5px;
}
.select-wrap {
    position: relative;
}
.select-wrap::after {
    content: '';
    position: absolute;
    top: 7px;
    right: 7px;
    widows: 0;
    height: 0;
    border-radius: 1px;
    border: 6px transparent solid;
    border-top: 8px #999999 solid;
    border-bottom: 0;
}
.s-gift-search-select {
    width: auto;
    height: 25px;
    border-radius: unset;
}

.s-gitf-operate {
    padding: 40px 0 20px;
}
.s-gift-setting {
    float: right;
}

.s-gift-table {
    color: #464646;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 2px rgba(234,234,234,0.50);
    border-radius: 10px;
}

.s-gift-thead tr th:first-child {
    border-top-left-radius: 10px;
}
.s-gift-thead tr th:last-child {
    border-top-right-radius: 10px;
}
.s-gift-tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
.s-gift-tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.s-gift-table th,
.s-gift-table td {
    text-align: center;
}
.s-gift-table>.s-gift-tbody {
    font-size: 12px;
}
.s-gift-thead {
    background: #ECF1F5;
}
.s-gift-table td,
.s-gift-table th {
    border: 0;
}
.s-gift-table>.s-gift-tbody>tr:nth-child(2n) {
    background: #F9F9F9;
}
.s-gift-table>.s-gift-tbody>tr:hover {
    background: #e6f7ff;
}
.s-gift-count {
    font-size: 12px;
    color: #999999;
    text-align: right;
}
.s-gift-table-pages {
    text-align: center;
}
.s-gift-prepage::after {
    content: '';
    position: absolute;
    top: 7px;
    left: 10px;
    padding: 5px;
    background: white;
    border: 2px #C1C1C1 solid;
    border-radius: 1px;
    border-right: 0;
    border-top: 0;
    transform: rotate(45deg);
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.s-gift-nextpage::after {
    content: '';
    position: absolute;
    top: 7px;
    right: 10px;
    padding: 5px;
    background: white;
    border: 2px #C1C1C1 solid;
    border-radius: 1px;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
}
.s-gift-prepage,
.s-gift-nextpage {
    position: relative;
}
.s-gift-page {
    width: 30px;
    height: 30px;
    padding: 0;
}
.s-gift-page:hover {
    color: white;
    background: #1AC2AD;
    border-color: #1AC2AD
}
.s-gift-prepage:hover::after {
    background: #1AC2AD;
    border-left: 2px white solid;
    border-bottom: 2px white solid;
}
.s-gift-nextpage:hover::after {
    background: #1AC2AD;
    border-right: 2px white solid;
    border-top: 2px white solid;
}
.s-gift-page:active {
    color: white;
    background: rgb(12, 170, 152);
    border-color: rgb(12, 175, 156)
}
.s-gift-prepage:active::after {
    background: rgb(12, 170, 152);
    border-left: 2px white solid;
    border-bottom: 2px white solid;
}
.s-gift-nextpage:active::after {
    background: rgb(12, 170, 152);
    border-right: 2px white solid;
    border-top: 2px white solid;
}
.s-gift-prepage[disabled],
.s-gift-prepage[disabled]:hover,
.s-gift-prepage[disabled]:active {
    cursor: not-allowed;
    color: rgba(0,0,0,.25);
    background-color: #ECECEC;
    border-color: #d9d9d9;
}
.s-gift-prepage[disabled]::after,
.s-gift-prepage[disabled]:hover::after,
.s-gift-prepage[disabled]:active::after {
    cursor: not-allowed;
    background-color: #ECECEC;
    border-color: rgba(0,0,0,.1);
    border-right: 2px #ECECEC solid;
    border-top: 2px #ECECEC solid;
}

.s-gift-search-btn {
    float: right;
    margin-top: 20px;
}
.s-gift-search-content::after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
