@charset "UTF-8";
.s-gift {
    font-size: 14px;
    padding: 40px;
    background: #F6F8F9;
}
.s-gift-search {
    padding: 30px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0 2px 4px 2px rgba(234,234,234,0.50);
    border-radius: 10px;
}
.s-gift-search-title {
    font-size: 16px;
    color: #364557;
    margin: 0;
}
.s-gift-search-content {
    color: #999999;
}
.s-gift-search-item {
    width: 180px;
    margin: 20px 0 0;
    display: inline-block;
    white-space: nowrap;
}
.s-gift-search-content::after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.s-gift-search-input {
    width: 88px;
    height: 25px;
    border-radius: unset;
}
.s-gift-search-btn {
    float: right;
    margin-top: 20px;
}

select.c-input {
    -webkit-appearance: none;
    appearance: none;
    padding: 0 25px 0 5px;
}
.select-wrap {
    position: relative;
}
.select-wrap::after {
    content: '';
    position: absolute;
    top: 7px;
    right: 7px;
    widows: 0;
    height: 0;
    border-radius: 1px;
    border: 6px transparent solid;
    border-top: 8px #999999 solid;
    border-bottom: 0;
}
.s-gift-search-select {
    width: auto;
    height: 25px;
    border-radius: unset;
}

.s-gitf-operate {
    padding: 40px 0 20px;
}
.s-gift-setting {
    float: right;
}

.s-gift-table-wrap {
    width: 100%;
    border-radius: 10px;
    overflow-y: auto;
    color: #464646;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 2px rgba(234,234,234,0.50);
    border-radius: 10px;
}
.s-gift-table > thead > tr > th,
.s-gift-table > tbody > tr > td {
    white-space: nowrap;
}
.s-gift-table th,
.s-gift-table td {
    text-align: center;
}
.s-gift-table>.s-gift-tbody {
    font-size: 12px;
}
.s-gift-thead {
    background: #ECF1F5;
}
.s-gift-table td,
.s-gift-table th {
    border: 0;
}
.s-gift-table>.s-gift-tbody>tr:nth-child(2n) {
    background: #F9F9F9;
}
.s-gift-table>.s-gift-tbody>tr:hover {
    background: #e6f7ff;
}
.s-gift-count {
    font-size: 12px;
    color: #999999;
    text-align: right;
}
.s-gift-table-pages {
    text-align: center;
}
.s-gift-prepage::after {
    content: '';
    position: absolute;
    top: 7px;
    left: 10px;
    padding: 5px;
    background: white;
    border: 2px #C1C1C1 solid;
    border-radius: 1px;
    border-right: 0;
    border-top: 0;
    transform: rotate(45deg);
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.s-gift-nextpage::after {
    content: '';
    position: absolute;
    top: 7px;
    right: 10px;
    padding: 5px;
    background: white;
    border: 2px #C1C1C1 solid;
    border-radius: 1px;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
}
.s-gift-prepage,
.s-gift-nextpage {
    position: relative;
}
.s-gift-page {
    width: 30px;
    height: 30px;
    padding: 0;
}
.s-gift-page:hover {
    color: white;
    background: #1AC2AD;
    border-color: #1AC2AD
}
.s-gift-prepage:hover::after {
    background: #1AC2AD;
    border-left: 2px white solid;
    border-bottom: 2px white solid;
}
.s-gift-nextpage:hover::after {
    background: #1AC2AD;
    border-right: 2px white solid;
    border-top: 2px white solid;
}
.s-gift-page:active {
    color: white;
    background: rgb(12, 170, 152);
    border-color: rgb(12, 175, 156)
}
.s-gift-prepage:active::after {
    background: rgb(12, 170, 152);
    border-left: 2px white solid;
    border-bottom: 2px white solid;
}
.s-gift-nextpage:active::after {
    background: rgb(12, 170, 152);
    border-right: 2px white solid;
    border-top: 2px white solid;
}
.s-gift-prepage[disabled],
.s-gift-prepage[disabled]:hover,
.s-gift-prepage[disabled]:active {
    cursor: not-allowed;
    color: rgba(0,0,0,.25);
    background-color: #ECECEC;
    border-color: #d9d9d9;
}
.s-gift-prepage[disabled]::after,
.s-gift-prepage[disabled]:hover::after,
.s-gift-prepage[disabled]:active::after {
    cursor: not-allowed;
    background-color: #ECECEC;
    border-color: rgba(0,0,0,.1);
    border-right: 2px #ECECEC solid;
    border-top: 2px #ECECEC solid;
}

.s-userinfo {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #999999;
    padding: 30px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0 2px 4px 2px rgba(234,234,234,0.50);
    border-radius: 10px;
}
.s-userinfo_basic {
    height: 220px;
}
.s-userinfo_title {
    font-size: 16px;
    color: #364557;
    margin-bottom: 18px;
}

.s-userinfo_headimg {
    width: 200px;
    height: 220px;
    float: left;
    padding-bottom: 20px;
    border-bottom: 1px #D8D8D8 solid;
}
.s-basic {
    float: left;
    height: 220px;
    padding: 0 0 20px 30px;
    border-bottom: 1px #D8D8D8 solid;
}
.s-basic_item {
    height: 22px;
    margin: 0 0 14px;
}
.s-basic--certified {
    color: #67d6be;
}
.s-userinfo-details {
    margin-top: 20px;
}

.s-details_item {
    width: max-content;
    margin: 0 0 16px 0;
}
.s-details_item-title {
    display: inline-block;
    width: 75px;
    text-align: right;
}

.s-robot-form {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #999999;
    padding: 30px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0 2px 4px 2px rgba(234,234,234,0.50);
    border-radius: 10px;
}
.s-robot-form_upload {
    display: inline-block;
    position: relative;
    height: 220px;
    border-bottom: 1px #D8D8D8 solid;
}
.s-robot-form_title {
    font-size: 16px;
    color: #364557;
    margin-bottom: 18px;
}
.s-robot-form_selectimg {
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    background: #F0F0F0;
    box-sizing: content-box;
}
.s-robot-form_selectimg-icon1,
.s-robot-form_selectimg-icon2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80px;
    height: 6px;
    margin: auto;
    background: #D8D8D8;
    border-radius: 5px;
}
.s-robot-form_selectimg-icon2 {
    width: 6px;
    height: 80px;
}
.s-robot-form_headimg {
    padding-left: 30px;
    width: 200px;
    height: 200px;
    float: left;
    padding-bottom: 20px;
    border-bottom: 1px #D8D8D8 solid;
    box-sizing: content-box;
}
.s-robot-form_img-tips {
    position: absolute;
    left: calc(100% + 30px);
    white-space: nowrap;
    bottom: 4px;
}

.s-robot-form-details {
    margin-top: 20px;
}
.s-robot-form_six-input {
    width: 200px;
}
.s-robot-form_give-wrap,
.s-robot-form_receive-wrap {
    position: relative;
}
.s-robot-form_give,
.s-robot-form_receive {
    padding-right: 24px;
}
.s-robot-form_receive-wrap::after {
    content: '豆';
    position: absolute;
    right: 6px;
    top: 0;
}
.s-robot-form_give-wrap::after {
    content: '币';
    position: absolute;
    right: 6px;
    top: 0;
}
.s-robot-form_signature {
    width: 430px;
}
.s-robot-form_address-select {
    width: 110px;
}

.s-robot-form_btns {
    margin-top: 40px;
}
.s-robot-form_confirm {
    height: 35px;
    margin: 0 48px 0 10px;
}
.s-robot-form_cancel {
    height: 35px;
}

.s-banlive-close {
    font-size: 18px;
    color: #24D4BD;
    text-align: left;
    margin: 17px;
}
.s-banlive-content {
    width: 370px;
    margin: 40px 0 10px;
    text-align: center;
}
.s-banlive-btn {
    display: block;
    margin: 12px auto;
    width: 240px;
    height: 40px;
    border: 1px solid #24D4BD;
    border-radius: 100px;
}
.s-banlive-operate {
    margin: 10px 0;
    text-align: center;
}
.s-banlive-confirm-text {
    font-size: 18px;
    color: #24D4BD;
}
.s-banlive-confirm,
.s-banlive-cancel {
    width: 100px;
    height: 35px;
    line-height: 35px;
    margin: 0 40px;
}

.s-banword-close {
    font-size: 18px;
    color: #24D4BD;
    text-align: left;
    margin: 17px;
}
.s-banword-content {
    box-sizing: border-box;
    width: 400px;
    color: #343434;
    text-align: center;
}
.s-banword-input {
    margin: 20px 60px 10px;
    width: 282px;
}
.s-banword-operate {
    margin-bottom: 10px;
    text-align: center;
}
.s-banword-confirm-text {
    font-size: 18px;
    color: #24D4BD;
}
.s-banword-confirm,
.s-banword-cancel {
    width: 100px;
    height: 35px;
    line-height: 35px;
    margin: 0 40px;
}
.s-banword-progress {
    font-size: 48px;
    font-weight: 900;
    color: #24D4BD;
    margin: 0;
}
.s-banword-loading {
    width: 80px;
}