.s-video-m {
	top: 50px;
	height: 0;
	padding: 0;
	margin: 0;
}

.s-video-m_video {
	width: 300px;
	min-height: 180px;
	height: auto;
}

.s-video-m_close {
	width: 16px;
	height: 16px;
	top: 5px;
	right: 5px;
	background: url("../img/close3.png") no-repeat 2px 2px;
	cursor: pointer;
}

.s-video-m_close:active {
	background: url("../img/close3.png") no-repeat -18px 2px;
}