input[type=number], input[type=password], input[type=text], textarea {
    -webkit-appearance: none;
    appearance: none;
}

[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
/* ---modal--- */
/* .c-modal-wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100
} */
.c-modal {
    font-family: PingFangSC-Regular, system-ui;
    font-size: 14px;
    font-weight: 300;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #9B9B9B;
    padding: 0 20px;
    background: #FFFFFF;
    box-shadow: 0 30px 75px 0 rgba(0,0,0,0.30);
    border-radius: 6px;
    /* width: -webkit-max-content; */
    /* width: -moz-max-content; */
    /* width: max-content; */
    width: 400px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    z-index: 100
}
.c-modal_header {
    color: #9E9E9E;
    letter-spacing: 0;
    padding: 20px 0;
    border-bottom: 2px #E6E6E6 solid;
}
.c-modal-close {
    cursor: pointer;
    border: 0;
    background: transparent;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    -webkit-transition: color .3s;
    transition: color .3s;
    color: rgba(0,0,0,.45);
    outline: 0;
    padding: 0;
}
.c-modal-close-x {
    display: block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
    width: 56px;
    height: 56px;
    line-height: 56px;
    font-size: 16px;
    background: url("/resources/images/close_9B.svg") no-repeat center;
}
.c-modal-footer {
    border-top: 2px #E6E6E6 solid;
    padding: 20px 0;
}

/* ---button--- */
.c-btn {
    font-family: PingFangSC-Regular, system-ui;
    font-size: 14px;
    padding: 0 23px;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: rgba(0, 0, 0, .65);
    border-radius: 4px;
    border: 1px solid transparent;
    position: relative;
    background-color: #fff;
    border-color: #d9d9d9;
    outline: none;
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
}
.c-btn--large {
    font-weight: 500;
    padding: 0 34px;
    height: 40px;
    line-height: 40px;
}
/* .c-btn-primary:focus, */
.c-btn:hover {
    color: rgb(68, 228, 206);
    background-color: #fff;
    border-color: rgb(68, 228, 206);
}
.c-btn-primary:active{
    color: rgb(13, 167, 146);
    background-color: #fff;
    border-color: rgb(13, 167, 146);
}
.c-btn[disabled],
.c-btn[disabled]:hover,
    /* .c-btn[disabled]:focus, */
.c-btn[disabled]:active {
    cursor: not-allowed;
    color: rgba(0,0,0,.25);
    background-color: #D3D3D3;
    border-color: #d9d9d9;
}
.c-btn-primary {
    color: #ffffff;
    background-color: #24D4BD;
    border-color: rgb(40, 230, 204);
}
/* .c-btn-primary:focus, */
.c-btn-primary:hover {
    color: #fff;
    background-color: rgb(68, 228, 206);
    border-color: rgb(68, 228, 206);
}

.c-btn-primary:active {
    color: #fff;
    background-color: rgb(13, 167, 146);
    border-color: rgb(13, 167, 146);
}
.c-btn-primary[disabled],
.c-btn-primary[disabled]:hover,
    /* .c-btn-primary[disabled]:focus, */
.c-btn-primary[disabled]:active
{
    color: rgba(0,0,0,.25);
    background-color: #D3D3D3;
    border-color: #d9d9d9;
}

/* ---input--- */
.c-input {
    font-family: Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    position: relative;
    display: inline-block;
    padding: 4px 11px;
    width: 100%;
    height: 32px;
    font-size: 14px;
    line-height: 1.5;
    color: inherit;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.c-input:focus,
.c-input:hover {
    border-color: rgb(68, 228, 206);
    border-right-width: 1px!important;
}
.c-input:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(24,144,255,.2);
    box-shadow: 0 0 0 2px rgba(24,144,255,.2);
}
/* ---table--- */
.c-table {
    font-family: Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0,0,0,.65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    clear: both;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
    border-radius: 4px 4px 0 0;
}
.c-table-tbody tr,
.c-table-tbody td,
.c-table-thead tr
{
    -webkit-transition: all .3s;
    transition: all .3s;
}
.c-table-tbody>tr:hover {
    background: #e6f7ff;
}
.c-table-tbody td,
.c-table-thead th {
    padding: 16px;
    word-break: break-word;
}
.c-table-thead {
    background: #fafafa;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    color: #464646;
    font-weight: 500;
    border-bottom: 1px solid #e8e8e8;
}
.c-table-tbody td {
    border-bottom: 1px solid #e8e8e8;
}

.c-a {
    font-size: 14px;
    color: #24D4BD;
    text-decoration: underline;
    cursor: pointer;
}

/* ---select--- */
.c-select-wrap {
    background: white;
    position: relative;
}
.c-select-wrap::before {
    content: '';
    position: absolute;
    top: 7px;
    right: 7px;
    widows: 0;
    height: 0;
    border-radius: 1px;
    border: 6px transparent solid;
    border-top: 8px #999999 solid;
    border-bottom: 0;
}
.c-select {
    font-family: Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
    -webkit-appearance: none;
    appearance: none;
    width: auto;
    height: 25px;
    padding: 0 25px 0 5px;
    margin: 0;
    background: transparent none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 1.5;
    color: inherit;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.c-select:focus,
.c-select:hover {
    border-color: rgb(68, 228, 206);
    border-right-width: 1px!important;
}
.c-select:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(24,144,255,.2);
    box-shadow: 0 0 0 2px rgba(24,144,255,.2);
}

/* ---form--- */
.c-form_item {
    width: max-content;
    margin: 0 0 16px 0;
}
.c-form_item-title {
    display: inline-block;
    width: 88px;
    text-align: right;
}
.c-form_item-input {
    width: 200px;
    height: 25px;
    border-radius: 0;
}

/* ---utils---- */
.u-radius--circle {
    border-radius: 500px;
}
.u-radius--0 {
    border-radius: 0;
}
